@import "tailwindcss";


@theme {
    --font-Poppins: "Poppins", sans-serif;
    --font-Montserrat: "Montserrat", sans-serif;
    --color-orange: #ff624c;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-yellow: #FED550;
    --color-purpel: #1A237B;
    --color-blue: #00579F;
    --color-red: #BD0034;
    --color-black01: #303030;
    --color-white01: #D9D9D9;
    --color-purpel01: #283BB2;
    --color-blue01: #469BDB;
    --color-white02: #F4F4F4;
}

.custom-select .ant-select-selector {
    border: none !important;
}

.Custom-collapse {
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    border: none !important;
}

.Custom-collapse .ant-collapse-content {
    border-top: none !important;
    background-color: white;
}

.Custom-collapse .ant-collapse-expand-icon {
    background-color: #FF624C !important;
    color: white !important;
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

:where(.css-dev-only-do-not-override-5uvb3z).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    padding-left: 11px !important;
}

.ant-collapse-header-text {
    padding-top: 1px;
    padding-left: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #303030;
}